@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


    <head>
        <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    </head>

    <body>
        <h1>Earthry Bowl</h1>


        <img src="Img/pexels-.jpg" alt="Food Bowls" />
        <img src="Img/pexels-george-.jpg" alt="MilK Bowl" />

        <p>
            Materials: Bowls can be made from various materials, including ceramics, porcelain, glass, plastic, and metal. Each material has its advantages and disadvantages in terms of durability, safety, heat resistance, and ease of cleaning.

        </p>

        <p>
            Shapes and sizes: Bowls come in different shapes and sizes, such as round, oval, square, and rectangular, and they can range from small dipping bowls to large mixing bowls. The shape and size of the bowl should be chosen based on the intended use, such as serving soup, salad, or cereal.

        </p>
        <p>
            Design: Bowls can be designed with various features, such as rims, handles, lids, and patterns, to make them more functional or aesthetically pleasing. Some bowls have a wide and shallow design, such as pasta bowls, while others have a deep and narrow design, such as rice bowls.
        </p>

    </body>

}
